# C compiled artifacts
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.a
*.lib
*.bin

# Python cache
__pycache__/
*.pyc
.venv/

# Logs
*.log

# Local credentials and private keys
.env
.env.*
*.pem
*.key
*.p12
*.pfx
credentials.json
secrets.json

# VS Code folders
.vscode/

# build folders
build/
dist/

# editor temp files
*.swp
*~
